{
  "tabWidth": 4,
  "singleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "singleQuote": false,
        "endOfLine": "lf"
      }
    }
  ]
}
