.vscomp-toggle-button {
    border-radius: var(--bs-border-radius);
}

.vscomp-ele[disabled] .vscomp-toggle-button {
    background-color: var(--bs-secondary-bg);
}

.vscomp-wrapper.focused .vscomp-toggle-button, .vscomp-wrapper:focus .vscomp-toggle-button {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
