#LitCalTable {
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    background: white;
    border-collapse: collapse;
    border-spacing: 1px;
}

#LitCalTable caption {
    caption-side: top;
    text-align: center;
}

#LitCalTable colgroup .col2 {
    width: 10%;
}

#LitCalTable td {
    padding: 4px 6px;
    border: 1px dashed lightgray;
}

#LitCalTable td.rotate {
    width: 1.5em;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

#LitCalTable td.rotate div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    font-weight:bold;
    writing-mode: vertical-rl;
    transform: rotate(180.0deg);
}

#LitCalTable .monthHeader {
    text-align: center;
    background-color: #ECA;
    color: darkslateblue;
    font-weight: bold;
}

#LitCalTable .dateEntry {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:.8em;
}

#LitCalTable .eventDetails {
    color: #BD752F;
}

#LitCalTable .liturgicalGrade {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#LitCalTable .liturgicalGrade.liturgicalGrade_0 {
    visibility: hidden;
}

#LitCalTable .liturgicalGrade_0, #LitCalTable .liturgicalGrade_1, #LitCalTable .liturgicalGrade_2 {
    font-size: .9em;
}

#LitCalTable .liturgicalGrade_3 {
    font-size: .9em;
}

#LitCalTable .liturgicalGrade_4, #LitCalTable .liturgicalGrade_5 {
    font-size: 1em;
}

#LitCalTable .liturgicalGrade_6, #LitCalTable .liturgicalGrade_7 {
    font-size: 1em;
    font-weight: bold;
}

.liturgicalGrade.liturgicalGrade_0, .liturgicalGrade.liturgicalGrade_1, .liturgicalGrade.liturgicalGrade_2 {
    font-style: italic;
    color: gray;
}

#LitCalTable td.purple {
    background-color: plum;
    color: black;
}

#LitCalTable td.EASTER_TRIDUUM.purple {
    background-color: palevioletred;
    color: white;
}

#LitCalTable td.white {
    background-color: whitesmoke;
    color: black;
}

#LitCalTable td.red {
    background-color: lightrose;
    color: black;
}

#LitCalTable td.rose {
    background-color: mistyrose;
    color: black;
}

#LitCalTable td.green {
    background-color: lightgreen;
    color: black;
}

.vscomp-toggle-button {
    border-radius: var(--bs-border-radius);
}

.vscomp-ele[disabled] .vscomp-toggle-button {
    background-color: var(--bs-secondary-bg);
}

.vscomp-wrapper.focused .vscomp-toggle-button, .vscomp-wrapper:focus .vscomp-toggle-button {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
